<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlefisher.blog.dao.system.SystemParamDtoMapper">
  <resultMap id="BaseResultMap" type="com.littlefisher.blog.model.system.SystemParamDto">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="param_key" jdbcType="VARCHAR" property="paramKey" />
    <result column="param_value" jdbcType="VARCHAR" property="paramValue" />
    <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
    <result column="param_desc" jdbcType="VARCHAR" property="paramDesc" />
  </resultMap>

  <resultMap id="BaseResultMapWithModels" type="com.littlefisher.blog.model.system.SystemParamDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="param_key" jdbcType="VARCHAR" property="paramKey" />
    <result column="param_value" jdbcType="VARCHAR" property="paramValue" />
    <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
    <result column="param_desc" jdbcType="VARCHAR" property="paramDesc" />
  </resultMap>
  <sql id="systemParamColumns">
    ${alias}.id, ${alias}.param_key, ${alias}.param_value, ${alias}.default_value, ${alias}.param_desc
  </sql>
  <select id="selectByCond" parameterType="com.littlefisher.blog.request.system.GetSystemParamList4PagerByCondRequest" resultMap="BaseResultMapWithModels">
    select
    <include refid="systemParamColumns">
      <property name="alias" value="a"/>
    </include>
    from system_param a
    <where>
      <if test="id != null">
        and a.id = #{id, jdbcType=INTEGER}
      </if>
      <if test="paramKey != null">
        and a.param_key = #{paramKey, jdbcType=VARCHAR}
      </if>
      <if test="paramValue != null">
        and a.param_value = #{paramValue, jdbcType=VARCHAR}
      </if>
      <if test="defaultValue != null">
        and a.default_value = #{defaultValue, jdbcType=VARCHAR}
      </if>
    </where>
  </select>
</mapper>