<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlefisher.blog.dao.user.UserDtoMapper">
  <resultMap id="BaseResultMap" type="com.littlefisher.blog.model.user.UserDto">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="acc_nbr" jdbcType="VARCHAR" property="accNbr"/>
    <result column="password" jdbcType="VARCHAR" property="password"/>
    <result column="email" jdbcType="VARCHAR" property="email"/>
    <result column="real_name" jdbcType="VARCHAR" property="realName"/>
    <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
    <result column="en_name" jdbcType="VARCHAR" property="enName"/>
    <result column="qq" jdbcType="VARCHAR" property="qq"/>
    <result column="wechat" jdbcType="VARCHAR" property="wechat"/>
    <result column="phone_nbr" jdbcType="VARCHAR" property="phoneNbr"/>
    <result column="user_desc" jdbcType="VARCHAR" property="userDesc"/>
    <result column="state" jdbcType="CHAR" property="state"/>
    <result column="reg_date" jdbcType="TIMESTAMP" property="regDate"/>
    <result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate"/>
  </resultMap>

  <sql id="userColumns">
    ${alias}.id, ${alias}.acc_nbr, ${alias}.password, ${alias}.email, ${alias}.real_name,
    ${alias}.nick_name, ${alias}.en_name, ${alias}.qq, ${alias}.wechat, ${alias}.phone_nbr,
    ${alias}.user_desc, ${alias}.state, ${alias}.reg_date, ${alias}.last_login_date
  </sql>
  <select id="selectByCond" parameterType="com.littlefisher.blog.request.user.GetUserList4PagerByCondRequest"
          resultMap="BaseResultMap">
    select
    <include refid="userColumns">
      <property name="alias" value="a"/>
    </include>
    from user a
    <where>
      <if test="accNbr != null">
        and a.acc_nbr = #{accNbr, jdbcType=VARCHAR}
      </if>
      <if test="email != null">
        and a.email like concat('%', #{email,jdbcType=VARCHAR}, '%')
      </if>
      <if test="realName != null">
        and a.real_name like concat('%', #{realName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="nickName != null">
        and a.nick_name like concat('%', #{nickName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="enName != null">
        and a.en_name like concat('%', #{enName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="qq != null">
        and a.qq like concat('%', #{qq,jdbcType=VARCHAR}, '%')
      </if>
      <if test="phoneNbr != null">
        and a.phone_nbr like concat('%', #{phoneNbr,jdbcType=VARCHAR}, '%')
      </if>
      <if test="state != null">
        and a.state = #{state, jdbcType=VARCHAR}
      </if>
      <if test="regDateStart != null">
        and a.reg_date &gt;= #{regDateStart, jdbcType=TIMESTAMP}
      </if>
      <if test="regDateEnd != null">
        and a.reg_date &lt;= #{regDateEnd, jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>