<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlefisher.blog.dao.user.UserDtoMapper">
  <resultMap id="BaseResultMap" type="com.littlefisher.blog.model.user.UserDto">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="acc_nbr" jdbcType="VARCHAR" property="accNbr" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="phone_nbr" jdbcType="VARCHAR" property="phoneNbr" />
    <result column="user_desc" jdbcType="VARCHAR" property="userDesc" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="reg_date" jdbcType="TIMESTAMP" property="regDate" />
    <result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--@mbg.generated-->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, acc_nbr, password, email, real_name, nick_name, en_name, qq, wechat, phone_nbr, 
    user_desc, state, reg_date, last_login_date
  </sql>
  <select id="selectByExample" parameterType="com.littlefisher.blog.model.user.UserDtoExample" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.littlefisher.blog.model.user.UserDtoExample">
    <!--@mbg.generated-->
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>

  <resultMap id="BaseResultMapWithModels" type="com.littlefisher.blog.model.user.UserDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="acc_nbr" jdbcType="VARCHAR" property="accNbr" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="phone_nbr" jdbcType="VARCHAR" property="phoneNbr" />
    <result column="user_desc" jdbcType="VARCHAR" property="userDesc" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="reg_date" jdbcType="TIMESTAMP" property="regDate" />
    <result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate" />
    <association property="userState" javaType="com.littlefisher.blog.model.user.UserStateDto">
      <id column="us_state" jdbcType="CHAR" property="state" />
      <result column="us_state_name" jdbcType="VARCHAR" property="stateName" />
      <result column="us_comments" jdbcType="VARCHAR" property="comments" />
    </association>
  </resultMap>
  <sql id="userColumns">
    ${alias}.id, ${alias}.acc_nbr, ${alias}.password, ${alias}.email, ${alias}.real_name,
    ${alias}.nick_name, ${alias}.en_name, ${alias}.qq, ${alias}.wechat, ${alias}.phone_nbr,
    ${alias}.user_desc, ${alias}.state, ${alias}.reg_date, ${alias}.last_login_date
  </sql>
  <sql id="userStateColumns">
    ${alias}.state ${prefix}state, ${alias}.state_name ${prefix}state_name, ${alias}.comments ${prefix}comments
  </sql>
  <select id="selectByCond" parameterType="com.littlefisher.blog.request.user.GetUserList4PagerByCondRequest" resultMap="BaseResultMapWithModels">
    select
    <include refid="userColumns">
      <property name="alias" value="a"/>
    </include>
    ,
    <include refid="userStateColumns">
      <property name="alias" value="b"/>
      <property name="prefix" value="us_"/>
    </include>
    from user a
    left join user_state b on a.state = b.state
    <where>
      <if test="accNbr != null">
        and a.acc_nbr = #{accNbr, jdbcType=VARCHAR}
      </if>
      <if test="email != null">
        and a.email like concat('%', #{email,jdbcType=VARCHAR}, '%')
      </if>
      <if test="realName != null">
        and a.real_name like concat('%', #{realName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="nickName != null">
        and a.nick_name like concat('%', #{nickName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="enName != null">
        and a.en_name like concat('%', #{enName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="qq != null">
        and a.qq like concat('%', #{qq,jdbcType=VARCHAR}, '%')
      </if>
      <if test="phoneNbr != null">
        and a.phone_nbr like concat('%', #{phoneNbr,jdbcType=VARCHAR}, '%')
      </if>
      <if test="state != null">
        and a.state = #{state, jdbcType=VARCHAR}
      </if>
      <if test="regDateStart != null">
        and a.reg_date &gt;= #{regDateStart, jdbcType=TIMESTAMP}
      </if>
      <if test="regDateEnd != null">
        and a.reg_date &lt;= #{regDateEnd, jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>