<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.core.attr.dao.AttrCatgTypeDtoMapper">
  <resultMap id="BaseResultMap" type="com.yc.core.attr.dto.AttrCatgTypeDto">
    <id column="TYPE" jdbcType="CHAR" property="type" />
    <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
  </resultMap>
  <sql id="Base_Column_List">
    TYPE, TYPE_NAME, COMMENTS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from EG_ATTR_CATG_TYPE
    where TYPE = #{type,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from EG_ATTR_CATG_TYPE
    where TYPE = #{type,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.yc.core.attr.dto.AttrCatgTypeDto">
    insert into EG_ATTR_CATG_TYPE (TYPE, TYPE_NAME, COMMENTS
      )
    values (#{type,jdbcType=CHAR}, #{typeName,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yc.core.attr.dto.AttrCatgTypeDto">
    insert into EG_ATTR_CATG_TYPE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="type != null">
        TYPE,
      </if>
      <if test="typeName != null">
        TYPE_NAME,
      </if>
      <if test="comments != null">
        COMMENTS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.core.attr.dto.AttrCatgTypeDto">
    update EG_ATTR_CATG_TYPE
    <set>
      <if test="typeName != null">
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
    </set>
    where TYPE = #{type,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.core.attr.dto.AttrCatgTypeDto">
    update EG_ATTR_CATG_TYPE
    set TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      COMMENTS = #{comments,jdbcType=VARCHAR}
    where TYPE = #{type,jdbcType=CHAR}
  </update>
</mapper>