<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.core.attr.dao.AttrCatgDtoMapper">
  <resultMap id="BaseResultMap" type="com.yc.core.attr.dto.AttrCatgDto">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CATG_NAME" jdbcType="VARCHAR" property="catgName" />
    <result column="CATG_CODE" jdbcType="VARCHAR" property="catgCode" />
    <result column="PARENT_CATG_ID" jdbcType="INTEGER" property="parentCatgId" />
    <result column="CATG_TYPE" jdbcType="CHAR" property="catgType" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CATG_NAME, CATG_CODE, PARENT_CATG_ID, CATG_TYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from EG_ATTR_CATG
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from EG_ATTR_CATG
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yc.core.attr.dto.AttrCatgDto">
    insert into EG_ATTR_CATG (ID, CATG_NAME, CATG_CODE, 
      PARENT_CATG_ID, CATG_TYPE)
    values (#{id,jdbcType=INTEGER}, #{catgName,jdbcType=VARCHAR}, #{catgCode,jdbcType=VARCHAR}, 
      #{parentCatgId,jdbcType=INTEGER}, #{catgType,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.core.attr.dto.AttrCatgDto">
    insert into EG_ATTR_CATG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="catgName != null">
        CATG_NAME,
      </if>
      <if test="catgCode != null">
        CATG_CODE,
      </if>
      <if test="parentCatgId != null">
        PARENT_CATG_ID,
      </if>
      <if test="catgType != null">
        CATG_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="catgName != null">
        #{catgName,jdbcType=VARCHAR},
      </if>
      <if test="catgCode != null">
        #{catgCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCatgId != null">
        #{parentCatgId,jdbcType=INTEGER},
      </if>
      <if test="catgType != null">
        #{catgType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.core.attr.dto.AttrCatgDto">
    update EG_ATTR_CATG
    <set>
      <if test="catgName != null">
        CATG_NAME = #{catgName,jdbcType=VARCHAR},
      </if>
      <if test="catgCode != null">
        CATG_CODE = #{catgCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCatgId != null">
        PARENT_CATG_ID = #{parentCatgId,jdbcType=INTEGER},
      </if>
      <if test="catgType != null">
        CATG_TYPE = #{catgType,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.core.attr.dto.AttrCatgDto">
    update EG_ATTR_CATG
    set CATG_NAME = #{catgName,jdbcType=VARCHAR},
      CATG_CODE = #{catgCode,jdbcType=VARCHAR},
      PARENT_CATG_ID = #{parentCatgId,jdbcType=INTEGER},
      CATG_TYPE = #{catgType,jdbcType=CHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>