<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.core.attr.dao.AttrCatgChildrenDtoMapper">
  <resultMap id="BaseResultMap" type="com.yc.core.attr.dto.AttrCatgChildrenDto">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CATG_ID" jdbcType="INTEGER" property="catgId" />
    <result column="CHILD_CATG_ID" jdbcType="INTEGER" property="childCatgId" />
    <result column="CHILD_ATTR_ID" jdbcType="INTEGER" property="childAttrId" />
    <result column="STATE" jdbcType="CHAR" property="state" />
    <result column="STATE_DATE" jdbcType="TIMESTAMP" property="stateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CATG_ID, CHILD_CATG_ID, CHILD_ATTR_ID, STATE, STATE_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from EG_ATTR_CATG_CHILDREN
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from EG_ATTR_CATG_CHILDREN
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yc.core.attr.dto.AttrCatgChildrenDto">
    insert into EG_ATTR_CATG_CHILDREN (ID, CATG_ID, CHILD_CATG_ID, 
      CHILD_ATTR_ID, STATE, STATE_DATE
      )
    values (#{id,jdbcType=INTEGER}, #{catgId,jdbcType=INTEGER}, #{childCatgId,jdbcType=INTEGER}, 
      #{childAttrId,jdbcType=INTEGER}, #{state,jdbcType=CHAR}, #{stateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yc.core.attr.dto.AttrCatgChildrenDto">
    insert into EG_ATTR_CATG_CHILDREN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="catgId != null">
        CATG_ID,
      </if>
      <if test="childCatgId != null">
        CHILD_CATG_ID,
      </if>
      <if test="childAttrId != null">
        CHILD_ATTR_ID,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="stateDate != null">
        STATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="catgId != null">
        #{catgId,jdbcType=INTEGER},
      </if>
      <if test="childCatgId != null">
        #{childCatgId,jdbcType=INTEGER},
      </if>
      <if test="childAttrId != null">
        #{childAttrId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="stateDate != null">
        #{stateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.core.attr.dto.AttrCatgChildrenDto">
    update EG_ATTR_CATG_CHILDREN
    <set>
      <if test="catgId != null">
        CATG_ID = #{catgId,jdbcType=INTEGER},
      </if>
      <if test="childCatgId != null">
        CHILD_CATG_ID = #{childCatgId,jdbcType=INTEGER},
      </if>
      <if test="childAttrId != null">
        CHILD_ATTR_ID = #{childAttrId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=CHAR},
      </if>
      <if test="stateDate != null">
        STATE_DATE = #{stateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.core.attr.dto.AttrCatgChildrenDto">
    update EG_ATTR_CATG_CHILDREN
    set CATG_ID = #{catgId,jdbcType=INTEGER},
      CHILD_CATG_ID = #{childCatgId,jdbcType=INTEGER},
      CHILD_ATTR_ID = #{childAttrId,jdbcType=INTEGER},
      STATE = #{state,jdbcType=CHAR},
      STATE_DATE = #{stateDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>