<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.room1000.engine.attr.dao.AttrDtoMapper">
  <resultMap id="BaseResultMap" type="com.yc.room1000.engine.attr.model.AttrDto">
    <!--
    @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="state_date" jdbcType="TIMESTAMP" property="stateDate" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="mandatory" jdbcType="CHAR" property="mandatory" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, code, unit_id, type, state, state_date, comments, mandatory
  </sql>
  <select id="selectByCond" parameterType="com.yc.room1000.engine.attr.model.QryAttrListRequest" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from attr 
    <where>
      <if test="attrName != null">
        and name like concat('%', #{attrName, jdbcType=VARCHAR}, '%')
      </if>
      <if test="attrCode != null">
        and code = #{attrCode, jdbcType=VARCHAR}
      </if>
      <if test="attrIds != null">
        and id in 
        <foreach collection="attrIds" item="attrId" open="(" separator="," close=")">
          #{attrId}
        </foreach>
      </if>
    </where>
  </select>
</mapper>