<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlefisher.blog.dal.mapper.PostDtoMapper">
  <resultMap id="BaseResultMap" type="com.littlefisher.blog.dal.model.PostDto">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="original_url" jdbcType="VARCHAR" property="originalUrl" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="archive_id" jdbcType="INTEGER" property="archiveId" />
    <result column="author_id" jdbcType="INTEGER" property="authorId" />
    <result column="enable_comment" jdbcType="CHAR" property="enableComment" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="state_date" jdbcType="TIMESTAMP" property="stateDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.littlefisher.blog.dal.model.PostDto">
    <!--@mbg.generated-->
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, created_date, original_url, type, archive_id, author_id, enable_comment, 
    state, state_date, update_date
  </sql>
  <sql id="Blob_Column_List">
    <!--@mbg.generated-->
    content
  </sql>
</mapper>