<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlefisher.blog.system.dao.SystemParamDtoMapper">
  <resultMap id="BaseResultMap" type="com.littlefisher.blog.system.model.SystemParamDto">
    <!--
    @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="param_key" jdbcType="VARCHAR" property="paramKey" />
    <result column="param_value" jdbcType="VARCHAR" property="paramValue" />
    <result column="default_value" jdbcType="VARCHAR" property="defaultValue" />
    <result column="param_desc" jdbcType="VARCHAR" property="paramDesc" />
  </resultMap>
</mapper>