# MySql 
driverClassName=com.mysql.jdbc.Driver
jdbc_url=jdbc:mysql://106.14.156.120:3306/blog?useUnicode=true&characterEncoding=utf-8
validationQuery=SELECT NOW()
jdbc_username=root
jdbc_password=root