<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlefisher.blog.commentary.dao.CommentaryStateDtoMapper">
  <resultMap id="BaseResultMap" type="com.littlefisher.blog.commentary.model.CommentaryStateDto">
    <!--
    @mbg.generated
    -->
    <id column="state" jdbcType="CHAR" property="state" />
    <result column="state_name" jdbcType="VARCHAR" property="stateName" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
  </resultMap>
</mapper>