<?xml version="1.0" encoding="UTF-8"?>       
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <!-- 设置通道 ID:BUSI_LOG 输出方式：org.apache.log4j.RollingFileAppender -->
    <appender name="BUSI_LOG" class="org.apache.log4j.RollingFileAppender">
        <!-- 设置 File 参数：日志输出文件名 -->
        <param name="File" value="${YC_HOME}/log/yc.log" />
        <!--  后缀可以是 KB, MB或者是 GB,在日志文件到达该大小时，将会自动滚动，即将原来的内容移到xx.log.1文件 -->
        <param name="MaxFileSize" value="10MB" />
        <!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
        <param name="Append" value="true" />
        <!-- 备份日志文件的个数 -->
        <param name="MaxBackupIndex" value="10" />
        <layout class="org.apache.log4j.PatternLayout">
            <!-- 设置输出文件项目和格式 -->
            <param name="ConversionPattern" value="%p [%d{yyyy-MM-dd HH\:mm\:ss,SSS}] (%c:%L)- %m%n" />
        </layout>
    </appender>
<!--     <logger name="zcw.log"> 设置域名限制， 即 zcw.log 域及以下的日志均输出到下面对应的通道中 -->
<!--         <level value="debug" />设置级别 -->
<!--         <appender-ref ref="org.zblog.zcw" />与前面的通道 id 相对应 -->
<!--     </logger> -->
    <root> <!-- 设置接收所有输出的通道 -->
        <appender-ref ref="BUSI_LOG" /><!-- 与前面的通道 id 相对应 -->
    </root>
</log4j:configuration>