<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlefisher.blog.user.dao.RoleDtoMapper">
  <resultMap id="BaseResultMap" type="com.littlefisher.blog.user.model.RoleDto">
    <!--
    @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="role_desc" jdbcType="VARCHAR" property="roleDesc" />
  </resultMap>
</mapper>