<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlefisher.blog.dao.CountStatistic4BlogDtoMapper">
  <resultMap id="BaseResultMap" type="com.littlefisher.blog.model.CountStatistic4BlogDto">
    <!--@mbg.generated-->
    <id column="count_statistic_id" jdbcType="INTEGER" property="countStatisticId" />
    <result column="visited_times" jdbcType="INTEGER" property="visitedTimes" />
    <result column="commented_times" jdbcType="INTEGER" property="commentedTimes" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    count_statistic_id, visited_times, commented_times
  </sql>
</mapper>