<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.room1000.engine.attr.dao.AttrStateDtoMapper">
  <resultMap id="BaseResultMap" type="com.yc.room1000.engine.attr.model.AttrStateDto">
    <!--
    @mbg.generated
    -->
    <id column="state" jdbcType="CHAR" property="state" />
    <result column="state_name" jdbcType="VARCHAR" property="stateName" />
    <result column="state_name_en" jdbcType="VARCHAR" property="stateNameEn" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
    @mbg.generated
    -->
    state, state_name, state_name_en, comments
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
    @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from attr_state
    where state = #{state,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
    @mbg.generated
    -->
    delete from attr_state
    where state = #{state,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.yc.room1000.engine.attr.model.AttrStateDto">
    <!--
    @mbg.generated
    -->
    insert into attr_state (state, state_name, state_name_en, 
      comments)
    values (#{state,jdbcType=CHAR}, #{stateName,jdbcType=VARCHAR}, #{stateNameEn,jdbcType=VARCHAR}, 
      #{comments,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.room1000.engine.attr.model.AttrStateDto">
    <!--
    @mbg.generated
    -->
    insert into attr_state
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="state != null">
        state,
      </if>
      <if test="stateName != null">
        state_name,
      </if>
      <if test="stateNameEn != null">
        state_name_en,
      </if>
      <if test="comments != null">
        comments,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="stateName != null">
        #{stateName,jdbcType=VARCHAR},
      </if>
      <if test="stateNameEn != null">
        #{stateNameEn,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.room1000.engine.attr.model.AttrStateDto">
    <!--
    @mbg.generated
    -->
    update attr_state
    <set>
      <if test="stateName != null">
        state_name = #{stateName,jdbcType=VARCHAR},
      </if>
      <if test="stateNameEn != null">
        state_name_en = #{stateNameEn,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        comments = #{comments,jdbcType=VARCHAR},
      </if>
    </set>
    where state = #{state,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.room1000.engine.attr.model.AttrStateDto">
    <!--
    @mbg.generated
    -->
    update attr_state
    set state_name = #{stateName,jdbcType=VARCHAR},
      state_name_en = #{stateNameEn,jdbcType=VARCHAR},
      comments = #{comments,jdbcType=VARCHAR}
    where state = #{state,jdbcType=CHAR}
  </update>
</mapper>