<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.room1000.engine.attr.dao.UnitDtoMapper">
  <resultMap id="BaseResultMap" type="com.yc.room1000.engine.attr.model.UnitDto">
    <!--
    @mbg.generated
    -->
    <id column="unit" jdbcType="INTEGER" property="unit" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="precision" jdbcType="INTEGER" property="precision" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
    @mbg.generated
    -->
    unit, unit_name, precision, comments
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from unit
    where unit = #{unit,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbg.generated
    -->
    delete from unit
    where unit = #{unit,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yc.room1000.engine.attr.model.UnitDto">
    <!--
    @mbg.generated
    -->
    insert into unit (unit, unit_name, precision, 
      comments)
    values (#{unit,jdbcType=INTEGER}, #{unitName,jdbcType=VARCHAR}, #{precision,jdbcType=INTEGER}, 
      #{comments,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.room1000.engine.attr.model.UnitDto">
    <!--
    @mbg.generated
    -->
    insert into unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="unit != null">
        unit,
      </if>
      <if test="unitName != null">
        unit_name,
      </if>
      <if test="precision != null">
        precision,
      </if>
      <if test="comments != null">
        comments,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="unit != null">
        #{unit,jdbcType=INTEGER},
      </if>
      <if test="unitName != null">
        #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="precision != null">
        #{precision,jdbcType=INTEGER},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.room1000.engine.attr.model.UnitDto">
    <!--
    @mbg.generated
    -->
    update unit
    <set>
      <if test="unitName != null">
        unit_name = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="precision != null">
        precision = #{precision,jdbcType=INTEGER},
      </if>
      <if test="comments != null">
        comments = #{comments,jdbcType=VARCHAR},
      </if>
    </set>
    where unit = #{unit,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.room1000.engine.attr.model.UnitDto">
    <!--
    @mbg.generated
    -->
    update unit
    set unit_name = #{unitName,jdbcType=VARCHAR},
      precision = #{precision,jdbcType=INTEGER},
      comments = #{comments,jdbcType=VARCHAR}
    where unit = #{unit,jdbcType=INTEGER}
  </update>
</mapper>