<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlefisher.core.biz.framework.dao.user.PermissionDtoMapper">
  <resultMap id="BaseResultMap" type="com.littlefisher.core.biz.framework.model.user.PermissionDto">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="permission_desc" jdbcType="VARCHAR" property="permissionDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, code, permission_desc
  </sql>
</mapper>