<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlefisher.core.biz.framework.dao.user.RolePermissionDtoMapper">
  <resultMap id="BaseResultMap" type="com.littlefisher.core.biz.framework.model.user.RolePermissionDto">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, permission_id, role_id
  </sql>
</mapper>