<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
        "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">

<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: HsjryCheckStyle
    Description: none
-->
<module name="Checker">
  <property name="severity" value="error"/>
  <property name="charset" value="UTF-8"/>
  <property name="fileExtensions" value="java, properties, xml"/>
  <module name="TreeWalker">
    <property name="tabWidth" value="4"/>
    <module name="OuterTypeFilename"/>
    <module name="LineLength">
      <property name="ignorePattern"
                value="^package.*|^import.*|a href|href|http://|https://|ftp://"/>
      <property name="max" value="150"/>
    </module>
    <module name="MethodLength">
      <property name="max" value="200"/>
      <property name="countEmpty" value="false"/>
    </module>
    <module name="ParameterNumber">
      <property name="severity" value="warning"/>
      <property name="max" value="10"/>
    </module>
    <module name="AvoidStarImport"/>
    <module name="RedundantImport"/>
    <module name="UnusedImports"/>
    <module name="OneTopLevelClass"/>
    <module name="NoLineWrap"/>
    <module name="EmptyBlock">
      <property name="option" value="TEXT"/>
      <property name="tokens"
                value="LITERAL_TRY, LITERAL_FINALLY, LITERAL_IF, LITERAL_ELSE, LITERAL_SWITCH"/>
    </module>
    <module name="NeedBraces"/>
    <module name="LeftCurly"/>
    <module name="RightCurly">
      <property name="id" value="RightCurlyAlone"/>
      <property name="option" value="alone"/>
      <property name="tokens" value="LITERAL_FINALLY"/>
    </module>
    <module name="FinalClass"/>
    <module name="WhitespaceAround">
      <property name="allowEmptyConstructors" value="true"/>
      <property name="allowEmptyMethods" value="true"/>
      <property name="allowEmptyTypes" value="true"/>
      <property name="allowEmptyLoops" value="true"/>
      <message key="ws.notPreceded"
               value="WhitespaceAround: ''{0}'' is not preceded with whitespace."/>
      <message key="ws.notFollowed"
               value="WhitespaceAround: ''{0}'' is not followed by whitespace. Empty blocks may only be represented as '{}' when not part of a multi-block statement (4.1.3)"/>
    </module>
    <module name="EmptyForIteratorPad"/>
    <module name="OneStatementPerLine"/>
    <module name="MultipleVariableDeclarations"/>
    <module name="ArrayTypeStyle"/>
    <module name="MissingSwitchDefault"/>
    <module name="ModifiedControlVariable">
      <property name="severity" value="warning"/>
    </module>
    <module name="SimplifyBooleanExpression"/>
    <module name="SimplifyBooleanReturn"/>
    <module name="BooleanExpressionComplexity">
      <property name="max" value="7"/>
    </module>
    <module name="InnerAssignment">
      <property name="severity" value="warning"/>
      <property name="tokens" value="ASSIGN,PLUS_ASSIGN,MINUS_ASSIGN"/>
    </module>
    <module name="StringLiteralEquality"/>
    <module name="NestedTryDepth">
      <property name="max" value="2"/>
    </module>
    <module name="NestedIfDepth">
      <property name="max" value="5"/>
    </module>
    <module name="NestedForDepth">
      <property name="max" value="3"/>
    </module>
    <module name="EqualsAvoidNull"/>
    <module name="EqualsHashCode"/>
    <module name="AvoidNestedBlocks">
      <property name="allowInSwitchCase" value="true"/>
    </module>
    <module name="UpperEll"/>
    <module name="ModifierOrder">
      <message key="mod.order"
               value="修饰符正确的顺序为public protected private abstract default static final transient volatile synchronized native strictfp"/>
    </module>
    <module name="PackageName">
      <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
      <message key="name.invalidPattern" value="包名 ''{0}'' 必须匹配正则表达式: ''{1}''."/>
    </module>
    <module name="TypeName">
      <message key="name.invalidPattern" value="类或接口 ''{0}'' 必须匹配正则表达式: ''{1}''."/>
    </module>
    <module name="MemberName">
      <property name="format" value="^[a-z][a-z0-9][a-zA-Z0-9]*$"/>
      <message key="name.invalidPattern" value="变量名 ''{0}'' 必须匹配正则表达式: ''{1}''."/>
    </module>
    <module name="ParameterName">
      <property name="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
      <message key="name.invalidPattern" value="方法入参或者catch参数 ''{0}'' 必须匹配正则表达式: ''{1}''."/>
    </module>
    <module name="CatchParameterName">
      <message key="name.invalidPattern" value="catch参数 ''{0}'' 必须匹配正则表达式: ''{1}''."/>
    </module>
    <module name="LocalVariableName">
      <property name="allowOneCharVarInForLoop" value="true"/>
      <message key="name.invalidPattern" value="Local variable name ''{0}'' 必须匹配正则表达式: ''{1}''."/>
    </module>
    <module name="ClassTypeParameterName">
      <property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
      <message key="name.invalidPattern" value="Class type name ''{0}'' 必须匹配正则表达式: ''{1}''."/>
    </module>
    <module name="MethodTypeParameterName">
      <property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
      <message key="name.invalidPattern" value="Method type name ''{0}'' 必须匹配正则表达式: ''{1}''."/>
    </module>
    <module name="InterfaceTypeParameterName">
      <property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
      <message key="name.invalidPattern" value="Interface type name ''{0}'' 必须匹配正则表达式: ''{1}''."/>
    </module>
    <module name="NoFinalizer"/>
    <module name="GenericWhitespace">
      <message key="ws.notPreceded" value="GenericWhitespace ''{0}'' 前应该加空格."/>
      <message key="ws.followed" value="GenericWhitespace ''{0}'' 后加了空格."/>
      <message key="ws.preceded" value="GenericWhitespace ''{0}'' 前加了空格."/>
      <message key="ws.illegalFollow" value="GenericWhitespace ''{0}'' 后应该加空格."/>
    </module>
    <module name="Indentation"/>
    <module name="OverloadMethodsDeclarationOrder"/>
    <module name="CustomImportOrder">
      <property name="customImportOrderRules"
                value="STATIC###STANDARD_JAVA_PACKAGE###THIRD_PARTY_PACKAGE"/>
      <property name="standardPackageRegExp" value="^(java|javax)\."/>
      <property name="thirdPartyPackageRegExp" value="^org\."/>
      <property name="specialImportsRegExp" value="^com\."/>
      <property name="sortImportsInGroupAlphabetically" value="true"/>
    </module>
    <module name="MethodParamPad"/>
    <module name="NoWhitespaceBefore">
      <property name="allowLineBreaks" value="true"/>
      <property name="tokens" value="COMMA, SEMI, POST_INC, POST_DEC, DOT, ELLIPSIS, METHOD_REF"/>
    </module>
    <module name="NoWhitespaceAfter"/>
    <module name="WhitespaceAfter"/>
    <module name="ParenPad"/>
    <module name="TypecastParenPad"/>
    <module name="OperatorWrap"/>
    <module name="AnnotationLocation">
      <property name="id" value="AnnotationLocationMostCases"/>
      <property name="tokens" value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF"/>
    </module>
    <module name="AnnotationLocation">
      <property name="id" value="AnnotationLocationVariables"/>
      <property name="tokens" value="VARIABLE_DEF"/>
      <property name="allowSamelineMultipleAnnotations" value="true"/>
    </module>
    <module name="NonEmptyAtclauseDescription"/>
    <module name="JavadocTagContinuationIndentation"/>
    <module name="AtclauseOrder">
      <property name="target"
                value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF, VARIABLE_DEF"/>
      <property name="tagOrder" value="@param, @return, @throws, @deprecated"/>
    </module>
    <module name="JavadocMethod">
      <property name="minLineCount" value="2"/>
      <property name="allowedAnnotations" value="Override, Test"/>
      <property name="scope" value="public"/>
      <property name="allowThrowsTagsForSubclasses" value="true"/>
      <message key="javadoc.expectedTag" value="public方法下，Javadoc必须完整。''{1}''需要Javadoc注释 {0} 。"/>
      <message key="javadoc.return.expected"
               value="public方法下，Javadoc必须完整。需要一个 Javadoc注释 @return 。"/>
    </module>
    <module name="MethodName">
      <property name="format" value="^[a-z][a-z0-9][a-zA-Z0-9_]*$"/>
      <message key="name.invalidPattern" value="方法名 ''{0}'' 必须匹配正则表达式: ''{1}''."/>
    </module>
    <module name="SingleLineJavadoc">
      <property name="ignoreInlineTags" value="false"/>
    </module>
    <module name="EmptyCatchBlock">
      <property name="exceptionVariableName" value="expected"/>
    </module>
    <module name="CommentsIndentation"/>
    <module name="RegexpSinglelineJava">
      <property name="format"
                value="(System\.(((out|err)\.print(ln)?)|exit)\()|(\.printStackTrace\(\))"/>
      <property name="message" value="禁止使用system.out(err,exit) 或者 printStackTrace()"/>
      <property name="ignoreComments" value="true"/>
    </module>
    <module name="MissingOverride"/>
    <module name="ConstantName"/>
    <module name="LocalFinalVariableName"/>
    <module name="DefaultComesLast"/>
    <module name="TrailingComment"/>
    <module name="ImportOrder">
      <property name="option" value="above"/>
      <property name="groups" value="/^java\./,javax,org,com"/>
      <property name="separated" value="true"/>
    </module>
    <module name="JavadocMethod">
      <property name="minLineCount" value="2"/>
      <property name="allowedAnnotations" value="Override, Test"/>
      <!--<property name="allowMissingParamTags" value="true"/>-->
      <!--<property name="allowMissingThrowsTags" value="true"/>-->
      <!--<property name="allowMissingReturnTag" value="true"/>-->
      <!--<property name="allowMissingPropertyJavadoc" value="true"/>-->
      <!--<property name="suppressLoadErrors" value="true"/>-->
      <property name="tokens" value="METHOD_DEF"/>
      <!--<message key="javadoc.missing"-->
               <!--value="非public方法至少需要一个描述性的 Javadoc ，@param、@return和@throws不做强制要求。"/>-->
    </module>
  </module>
  <module name="FileTabCharacter">
    <property name="eachLine" value="true"/>
  </module>
  <module name="FileLength"/>
  <module name="UniqueProperties"/>
  <module name="SuppressionFilter">
    <property name="file" value="suppressions.xml"/>
    <property name="optional" value="true"/>
  </module>
</module>
