<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.room1000.core.attr.dao.AttrDtoMapper">
  <resultMap id="BaseResultMap" type="com.yc.room1000.core.attr.dto.AttrDto">
    <!--
    @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="UNIT_ID" jdbcType="INTEGER" property="unitId" />
    <result column="TYPE" jdbcType="CHAR" property="type" />
    <result column="STATE" jdbcType="CHAR" property="state" />
    <result column="STATE_DATE" jdbcType="TIMESTAMP" property="stateDate" />
    <result column="COMMENTS" jdbcType="VARCHAR" property="comments" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
    @mbg.generated
    -->
    ID, NAME, CODE, UNIT_ID, TYPE, STATE, STATE_DATE, COMMENTS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
    @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from EG_ATTR
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
    @mbg.generated
    -->
    delete from EG_ATTR
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yc.room1000.core.attr.dto.AttrDto">
    <!--
    @mbg.generated
    -->
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into EG_ATTR (ID, NAME, CODE, 
      UNIT_ID, TYPE, STATE, STATE_DATE, 
      COMMENTS)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{unitId,jdbcType=INTEGER}, #{type,jdbcType=CHAR}, #{state,jdbcType=CHAR}, #{stateDate,jdbcType=TIMESTAMP}, 
      #{comments,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.room1000.core.attr.dto.AttrDto">
    <!--
    @mbg.generated
    -->
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into EG_ATTR
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="name != null">
        NAME,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="unitId != null">
        UNIT_ID,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="stateDate != null">
        STATE_DATE,
      </if>
      <if test="comments != null">
        COMMENTS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=CHAR},
      </if>
      <if test="stateDate != null">
        #{stateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.room1000.core.attr.dto.AttrDto">
    <!--
    @mbg.generated
    -->
    update EG_ATTR
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null">
        UNIT_ID = #{unitId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=CHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=CHAR},
      </if>
      <if test="stateDate != null">
        STATE_DATE = #{stateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="comments != null">
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.room1000.core.attr.dto.AttrDto">
    <!--
    @mbg.generated
    -->
    update EG_ATTR
    set NAME = #{name,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      UNIT_ID = #{unitId,jdbcType=INTEGER},
      TYPE = #{type,jdbcType=CHAR},
      STATE = #{state,jdbcType=CHAR},
      STATE_DATE = #{stateDate,jdbcType=TIMESTAMP},
      COMMENTS = #{comments,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>