<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.littlefisher.core.biz.framework.dao.ext.UserDtoExtMapper">
  <resultMap id="BaseResultMap" type="com.littlefisher.core.biz.framework.model.UserDto">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="acc_nbr" jdbcType="VARCHAR" property="accNbr" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="user_desc" jdbcType="VARCHAR" property="userDesc" />
    <result column="state" jdbcType="CHAR" property="state" />
    <result column="reg_date" jdbcType="TIMESTAMP" property="regDate" />
    <result column="last_login_date" jdbcType="TIMESTAMP" property="lastLoginDate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, acc_nbr, password, real_name, nick_name, en_name, user_desc, state, reg_date,
    last_login_date
  </sql>

  <sql id="userColumns">
    ${alias}.id, ${alias}.acc_nbr, ${alias}.password, ${alias}.real_name,
    ${alias}.nick_name, ${alias}.en_name,
    ${alias}.user_desc, ${alias}.state, ${alias}.reg_date, ${alias}.last_login_date
  </sql>
  <select id="selectByCond" parameterType="com.littlefisher.core.biz.framework.request.GetUserList4PagerByCondRequest"
          resultMap="BaseResultMap">
    select
    <include refid="userColumns">
      <property name="alias" value="a"/>
    </include>
    from bfm_user a
    <where>
      <if test="accNbr != null">
        and a.acc_nbr = #{accNbr, jdbcType=VARCHAR}
      </if>
      <if test="realName != null">
        and a.real_name like concat('%', #{realName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="nickName != null">
        and a.nick_name like concat('%', #{nickName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="enName != null">
        and a.en_name like concat('%', #{enName,jdbcType=VARCHAR}, '%')
      </if>
      <if test="state != null">
        and a.state = #{state, jdbcType=VARCHAR}
      </if>
      <if test="regDateStart != null">
        and a.reg_date &gt;= #{regDateStart, jdbcType=TIMESTAMP}
      </if>
      <if test="regDateEnd != null">
        and a.reg_date &lt;= #{regDateEnd, jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
</mapper>